* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    padding-top: 20px;
}

.column {
  float: left;
  padding: 10px;
}

.column.side {
  width: 17.5%;
  background-color: #f48fb1;
  min-height: 1950px;
  margin-top: -40px;
}

.column.middle {
  width: 65%;
}

.content:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  background-color: rgb(240, 204, 232);
  padding: 10px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other 
Reference: https://www.w3schools.com/css/css_templates.asp */
@media (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

img {
    height: 350px;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-gallery img {
    margin: 10px;
    max-height: 200px;
    max-width: 200px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 8px;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(240, 204, 232);
    color: white;
}

table tr:nth-child(even){
    background-color: rgb(248, 238, 246);
}
